body {
  margin: 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Light Mode Theme */
body.light-mode {
  background-color: #f9f9f9;
  color: black;
}

body.light-mode .card,
body.light-mode .avatar,
body.light-mode .Badge,
body.light-mode .counter {
  background-color: white;
  color: black;
}


/* Dark Mode Theme */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode .card,
body.dark-mode .avatar,
body.dark-mode .Badge,
body.dark-mode .Counter {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

nav{
display: flex;
justify-content: space-around;
align-items: center;
margin:auto;
background-color: #f08344;
height: 50px;
width: 100%;
}

nav a {
 text-decoration: none;
 margin: 20px;
 color: white;
 font-weight: bold;
}

.components{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button{
  padding:20px 50px;
}

.counter > h1{
margin-bottom:0;
}

.avatar{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  background-color: white;
  color: black;
  margin-bottom: 20px; /* optional */
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  margin-bottom: 12px;
}

.toggle button {
  background-color: rgb(71, 159, 218);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.toggle.dark-mode button {
  background-color: white;
  color: black;
}

.toggle.light-mode button {
  background-color: rgb(78, 179, 171);
  color: white;
}

.like-button button{
  border-style: none;
  background-color: rgb(29, 28, 28);
  font-size:large;
  border-radius: 8px;
  transition: all 0.5s ease-out;
  padding: 10px 15px;
  color: white;
}

.top{
display: flex;
width: 100%;
justify-content: space-between;
margin-top: 20px;
/* align-items: center; */
}

.day-night button{
  border-style: none;
  background-color: rgb(8, 89, 187);
  border-radius: 6px;
  padding: 10px 15px;
}

.menu-content{
  background-color: #ebebeb;
  /* box-shadow: 2px 4px 5px rgb(148, 148, 148); */
}

.menu-content a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(241, 238, 238);
  padding: 10px 0 5px 0;
}

.menu-content {
  background-color: #f08344;
  border-radius: 0 0 4px 4px;
}
a:hover, a:focus{
  background-color: white;
  color: #333333;
  border-radius: 0 0 4px 4px;
}

.dropdown button:hover{
  background-color: #f9f9f9;
  color: #333333;
}
.dropdown button{
  border-style: none;
  background-color: rgb(45, 163, 241);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}